body{
    font-family: Arial, Helvetica, sans-serif; /*Fonte para formatos de letras*/
    background-color: darkseagreen ; /*Corde fundo degrade com 2 cores e 45 graus*/
}
div{ 
    background-color: rgba(0, 0, 0, 0.8);/*Corde fundo*/
    position: absolute; /*Deixa todos os elementos atras dos outros*/
    top: 50%; /*Espaço do top da tela*/
    left: 50%; /*Se destancia para o lado esquerdo*/
    transform: translate(-50%,-50%); /*permite mover um elemento em uma direção horizontal, vertical ou ambas, sem afetar o layout ao redor dele (ponto x e ponto y)*/
    padding: 80px; /*O espaçamento interto do elemento*/
    border-radius: 15px; /*Aredondar borda*/
    color: white; /*Cor do texto*/
}
input{
    padding: 15px;
     border: none; /*Sem bordas internas*/
    outline: none; /*Sem bordas externas*/
    font-size: 15px; /*Tamando das letras */
}
button{
    background-color: blue;
    border: none;
    padding: 15px;
    width: 100%; /*Largura*/
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer; /*Tranforma cursor de mouse em mãozinha*/
}
button:hover{
    background-color: green;
}